HTTP_PORT=8080
PUBLIC_URL=http://localhost:8080
POSTGRES_DB=reelharbor
POSTGRES_USER=reelharbor
POSTGRES_PASSWORD=replace-with-a-long-random-password
SECRET_KEY=replace-with-at-least-32-random-bytes
COOKIE_SECURE=false
DEMO_MODE=false
ALLOW_PRIVATE_NETWORKS=false
MAX_STORAGE_PERCENT=90
CONCURRENT_DOWNLOADS=2
